body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.access-denied {
    padding: 100px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #e74c3c;
}

p {
    color: #333;
}